<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">


<web-app >
  <display-name>Struts Gnumed WebClient Application</display-name>
  
  <!-- Standard Action Servlet Configuration (with debugging) -->
  <servlet >
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
   
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
      </init-param>
  <!--     <init-param>
      <param-name>application</param-name>
      <param-value>resources.application</param-value>
    </init-param>
    -->
    <init-param>
      <param-name>debug</param-name>
      <param-value>5</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
      </servlet>


  <!-- Standard Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>


  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/tags/struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts-bean.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-html</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts-logic.tld</taglib-location>
  </taglib>
  
   <taglib>
    <taglib-uri>/tags/struts-bean-el</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts-bean-el.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-html-el</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts-html-el.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-logic-el</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts-logic-el.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-nested</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts-nested.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-tiles</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts-tiles.tld</taglib-location>
  </taglib>
  
<!-- must be put here, the DBCP database pooled basic datasource -->
<resource-ref>
 <description>postgres gnumed access</description>
 <res-ref-name>jdbc/gnumed</res-ref-name>
 <res-type>javax.sql.DataSource</res-type>
 <res-auth>Container</res-auth>
</resource-ref>

<resource-ref>
	<description>postgres drugref access</description>
 <res-ref-name>jdbc/drugref</res-ref-name>
 <res-type>javax.sql.DataSource</res-type>
 <res-auth>Container</res-auth>
</resource-ref>

  <!-- Define reference to the user database for looking up roles -->
  <resource-env-ref>
    <description>
      Link to the UserDatabase instance from which we request lists of
      defined role names.  Typically, this will be connected to the global
      user database with a ResourceLink element in server.xml or the context
      configuration file for the Manager web application.
    </description>
    <resource-env-ref-name>users</resource-env-ref-name>
    <resource-env-ref-type>
      org.apache.catalina.UserDatabase
    </resource-env-ref-type>
  </resource-env-ref>

  <!-- Define a Security Constraint on this Application -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Demographic and Clinical command</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
       <!-- NOTE:  This role is not present in the default users file -->
       <!-- not configured yet in tomcat-users.xml -->
       <!--
       <role-name>gmdoctor</role-name>
       -->
       <role-name>tomcat</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Define the Login Configuration for this Application -->
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Test Gnumed Tomcat Application (any-doc/any-doc for 
    accessing user; other-doc/other-doc for user that has web access
    but no postgres access. If not configured, use ** tomcat/tomcat **.
    </realm-name>
  </login-config>

  <!-- Security roles referenced by this web application -->
  <security-role>
    <description>
      The role that is required to log in to this Application
    </description>
    <!-- not configured yet in tomcat-users.xml -->
       <!--
       <role-name>gmdoctor</role-name>
       -->
       <role-name>tomcat</role-name>
  </security-role>

</web-app>
