# GNUmed .gitignore file

# Python compiled bytecode
*.py?

# vi swap files
.*.sw?


# log files
*.log


# our import symlink
gnumed/gnumed/Gnumed


# gettext compiled strings
*.mo
#gnumed.pot


# backup files
*.*~
*.bak


# tarballs
gnumed-client.*.tgz
gnumed-server.*.tgz


#MANIFEST


gnumed/TODO


Andreas-Release_Notes.txt
