# GnuMed GUI initial plugin load order configuration
# --------------------------------------------------
# $Source: /home/ncq/Projekte/cvs2git/vcs-mirror/gnumed/gnumed/client/wxpython/gui/Attic/plugins.conf.sample,v $
# $Id: plugins.conf.sample,v 1.2 2003-01-13 00:36:48 ncq Exp $
#
# If this file does not exist the GUI will scan the
# directory and load all files as plugins. If you want
# to restrict the loaded modules and - more importantly -
# want to influence the load order you can rename this
# file to plugins.conf. The GUI will read this file
# and import the load order into the configuration database.
# Subsequent GUI startups will read the configuration
# from the database where it can be modified on a per-user
# per-machine base.

# plugin definitions
[plugins]

# load these plugins in this order
load order = $load order$
gmLock
gmplNbPatientSelector
gmPatientWindowManager
gmplNbSchedule
gmSnellen
gmDrugDisplay
gmManual
gmGuidelines
gmStikoBrowser
gmContacts
gmOffice
gmPython
gmSQL
$load order$

# --------------------------------------------------
# $Log: plugins.conf.sample,v $
# Revision 1.2  2003-01-13 00:36:48  ncq
# - removed gmScanMedDocs which isn't an official plugin yet
#
# Revision 1.1  2003/01/05 11:43:48  ncq
# - first version
#
