#====================================================
# GNUmed client desktop entry specification
#
# license: GPL
#====================================================

[Desktop Entry]
Type=Application
Name=GNUmed
GenericName=Electronic Medical Record
Comment=Paperless Medical Record and Practice Management
Icon=gnumed
Exec=/usr/bin/gnumed
Terminal=false
Categories=Office;MedicalSoftware;
