#====================================================
# GNUmed client desktop entry specification
#
# license: GPL v2 or later
#====================================================

[Desktop Entry]
Type=Application
Name=GNUmed
GenericName=Electronic Medical Record
Comment=Paperless Medical Record and Practice Management
Icon=gm_icon-serpent_and_gnu
Exec=/usr/bin/gnumed
Terminal=false
Categories=Office;MedicalSoftware;
Keywords=PHR;PMR;EHR;PMS;Patient Record;Medical Record;Patient Chart;Practice Management System;Medical Practice;Surgery
