# GNUmed system-wide configuration file
# -------------------------------------------------------------
#
# For this file to take effect copy it to /etc/gnumed/gnumed-client.conf.
#
# see also: http://wiki.gnumed.de/bin/view/Gnumed/ConfigFiles
#
# -------------------------------------------------------------
# $Source: /home/ncq/Projekte/cvs2git/vcs-mirror/gnumed/gnumed/client/etc/gnumed/Attic/gnumed-client.conf.example,v $
# $Id: gnumed-client.conf.example,v 1.1 2008-08-28 15:11:48 ncq Exp $



[workplace]

# This name is used to describe the workstation at the
# business logic level, eg. "ultrasound room machine 1",
#
# Many configuration options stored in the backend
# are tied to this name.
name = GNUmed Default



[backend]

# during login the user can chose from several
# profiles defining which GNUmed database server
# to connect to,
#
# the profiles themselves are defined further below
#
profiles = $profiles$
public GNUmed database
$profiles$



[profile public GNUmed database]
host = salaam.homeunix.com
port = 5432
database = gnumed_v9
#encoding = UTF8

# this option controls whether the database is in-production
# storing real patient data or is a public database with
# open access for testing and development
#
# among other things it controls whether log files are by
# default attached to bug reports mailed out to developers,
# for real patient databases set this to 0
public/open access = 1

# this option defines who is in charge of tech support
# for this GNUmed database,
# public databases are serviced on the mailing list,
# set this to an internal staff address for real
# patient databases
help desk = GNUmed Development List <Gnumed-devel@gnu.org>



[profile local GNUmed database (Linux/Mac)]
host = 
port = 5432
database = gnumed_v9
#encoding = UTF8
help desk = Your own IT support <needs configuration>



[profile local GNUmed database (Windows)]
host = 127.0.0.1
port = 5432
database = gnumed_v9
#encoding = cp1252
help desk = Your own IT support <needs configuration>



# -------------------------------------------------------------
# $Log: gnumed-client.conf.example,v $
# Revision 1.1  2008-08-28 15:11:48  ncq
# - moved here
#
# Revision 1.11  2008/07/10 11:18:48  ncq
# - layout cleanup
#
# Revision 1.10  2008/05/13 14:07:32  ncq
# - add/document per-profile help desk options
# - add/document "public/open access" option
#
# Revision 1.9  2008/01/07 19:45:11  ncq
# - bump db version
#
# Revision 1.8  2008/01/07 14:10:40  ncq
# - Linux server profile works on Mac, too
#
# Revision 1.7  2007/10/22 12:37:02  ncq
# - default database change
#
# Revision 1.6  2007/09/20 19:05:47  ncq
# - 5432 again
#
# Revision 1.5  2007/06/11 20:14:59  ncq
# - bump database version
#
# Revision 1.4  2007/05/22 13:33:35  ncq
# - default to 5433 on salaam
#
# Revision 1.3  2007/04/19 13:10:53  ncq
# - add default workplace
#
# Revision 1.2  2007/04/02 14:25:17  ncq
# - made more generic
#
# Revision 1.1  2007/03/26 15:01:50  ncq
# - added as example for /etc/gnumed/gnumed-client.conf
#
#