# GnuMed client config file
# -------------------------------------------------------------

[workplace]
help desk = GnuMed developers <gnumed-devel@gnu.org>
name = <config file example workplace>

[profile GnuMed - Public DB at hherb.com]
host = hherb.com
port = 5432
database = gnumed

[profile gnumed at localhost]
host = localhost
port = 5432
database = gnumed

[profile GnuMed - Public DB at anubis.homeunix.com]
host = anubis.homeunix.com
port = 5432
database = gnumed

[backend]
logins = $logins$
any-doc
$logins$

profiles = $profiles$
gnumed at localhost
GnuMed - Public DB at anubis.homeunix.com
GnuMed - Public DB at hherb.com
$profiles$

# If the system locale matches this value a mismatch
# with the database locale will be ignored.
# Remove this option if you want to stop ignoring mismatches.
ignored mismatching system locale = de_DE@euro

client encoding = ISO-8859-15
