body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.gwt-BorderedPanel {
}

.gwt-Button {
}

.gwt-Canvas {
}

.gwt-CheckBox {
  font-size: smaller;
}

.gwt-DialogBox {
  sborder: 8px solid #C3D9FF;
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-FileUpload {
}

.gwt-Frame {
}

.gwt-HorizontalSplitter .Bar {
  width: 8px;
  background-color: #C3D9FF;
}

.gwt-VerticalSplitter .Bar {
  height: 8px;
  background-color: #C3D9FF;
}

.gwt-HTML {
  font-size: smaller;
}

.gwt-Hyperlink {
}

.gwt-Image {
}

.gwt-Label {
  font-size: smaller;
}

.gwt-ListBox {
}

.gwt-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar-horizontal {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-PasswordTextBox {
}

.gwt-RadioButton {
  font-size: smaller;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border-left: 1px solid #87B3FF;
}

.gwt-TabBar {
  background-color: #C3D9FF;
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #87B3FF;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  cursor: default;
}

.gwt-TextArea {
}

.gwt-TextBox {
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
  font-size: smaller;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #C3D9FF;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

/* -------------------------------------------------------------------------- */
.ks-Sink {
  border: 8px solid #C3D9FF;
  background-color: #E8EEF7;
  width: 100%;
  height: 24em;
}

.ks-Info {
  background-color: #C3D9FF;
  padding: 10px 10px 2px 10px;
  font-size: smaller;
}

.ks-List {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: smaller;
}

.ks-List .ks-SinkItem {
  width: 100%;
  padding: 0.3em;
  padding-right: 16px;
  cursor: pointer;
  cursor: hand;
}

.ks-List .ks-SinkItem-selected {
  background-color: #C3D9FF;
}

.ks-images-Image {
  margin: 8px;
}

.ks-images-Button {
  margin: 8px;
  cursor: pointer;
  cursor: hand;
}

.ks-layouts {
  margin: 8px;
}

.ks-layouts-Label {
  background-color: #C3D9FF;
  font-weight: bold;
  margin-top: 1em;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.ks-layouts-Scroller {
  height: 128px;
  border: 2px solid #C3D9FF;
  padding: 8px;
  margin: 8px;
}

.ks-popups-Popup {
  background-color: white;
  border: 1px solid #87B3FF;
  padding: 4px;
}

.infoProse {
  margin: 8px;
}

.gwt-DecoratorPanel /* { the panel } */
{
}
.gwt-DecoratorPanel .top /* {  } */
{
}
.gwt-DecoratorPanel .topLeft /* { the top left cell } */
{
    height: 5px;
    width: 5px;
    background-image: url('images/corner_dialog_topleft.png');
}
.gwt-DecoratorPanel .topLeftInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .topCenter /* /* { the top center cell } */
{
    height: 5px;
    background-image: url('images/corner_dialog_edge.png');
}
.gwt-DecoratorPanel .topCenterInner 
{
}
.gwt-DecoratorPanel .topRight /* { the top right cell } */
{
    height: 5px;
    width: 5px;
    background-image: url('images/corner_dialog_topright.png');
}
.gwt-DecoratorPanel .topRightInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .middle /* { the middle row } */
{
}
.gwt-DecoratorPanel .middleLeft /* { the middle left cell } */
{
    height: 100%;
    width: 5px;
    background-image: url('images/corner_dialog_edge.png');
    background-repeat: repeat-y;
}
.gwt-DecoratorPanel .middleLeftInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .middleCenter /* { the middle center cell } */
{
}
.gwt-DecoratorPanel .middleCenterInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .middleRight /* { the middle right cell } */
{
    height: 100%;
    width: 5px;
    background-image: url('images/corner_dialog_edge.png');
    background-repeat: repeat-y;
}
.gwt-DecoratorPanel .middleRightInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .bottom /* { the bottom row } */
{
}
.gwt-DecoratorPanel .bottomLeft /* { the bottom left cell } */
{
    height: 5px;
    width: 5px;
    background-image: url('images/corner_dialog_bottomleft.png');
}
.gwt-DecoratorPanel .bottomLeftInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .bottomCenter /* { the bottom center cell } */
{
    height: 5px;
    background-image: url('images/corner_dialog_edge.png');
}
.gwt-DecoratorPanel .bottomCenterInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .bottomRight /* { the bottom right cell } */
{
    height: 5px;
    width: 5px;
    background-image: url('images/corner_dialog_bottomright.png');
}
.gwt-DecoratorPanel .bottomRightInner /* { the inner element of the cell } */
{
}

.gwt-DecoratedTabBar-wrapper .tabTopLeftInner /* { the inner element of the cell } */
{
   width: 5px;
   height: 10px;
   margin-top: -5px;
   overflow: hidden;
} 
.gwt-DecoratedTabBar-wrapper .tabTopLeft
{
    height: 5px;
    width: 5px;
    background-image: url('images/corner_dialog_topleft.png');
}
.gwt-DecoratedTabBar-wrapper .tabTopCenter 
{
    height: 5px;
    background-image: url('images/corner_dialog_edge.png');
}
.gwt-DecoratedTabBar-wrapper .tabTopRightInner /* { the inner element of the cell } */
{
   width: 5px;
   height: 10px;
   margin-top: -5px;
   overflow: hidden;
} 
.gwt-DecoratedTabBar-wrapper .tabTopRight
{
    height: 5px;
    width: 5px;
    background-image: url('images/corner_dialog_topright.png');
    background-repeat: no-repeat;
}
.gwt-DecoratedTabBar-wrapper .tabMiddleCenter /* { the middle row } */
{
    background-image: url('images/corner_dialog_edge.png');
    background-repeat: repeat;
    cursor: pointer;
    cursor: hand;
}
.gwt-DecoratedTabBar-wrapper .tabMiddleLeft /* { the middle left cell } */
{
    height: 100%;
    width: 5px;
    background-image: url('images/corner_dialog_edge.png');
    background-repeat: repeat-y;
}
.gwt-DecoratedTabBar-wrapper .tabMiddleRight /* { the middle right cell } */
{
    height: 100%;
    width: 50px;
    background-image: url('images/corner_dialog_edge.png');
    background-repeat: repeat-y;
    padding-left: 5px;
    padding-right: 5px;
}

.gwt-DecoratedTabBar-wrapper .gwt-TabBarItem-selected .tabTopLeft
{
    height: 5px;
    width: 5px;
    background-image: url('images/corner_dialog_topleft_black.png');
}
.gwt-DecoratedTabBar-wrapper .gwt-TabBarItem-selected .tabTopCenter 
{
    height: 5px;
    background-image: url('images/corner_dialog_edge_black.png');
}
.gwt-DecoratedTabBar-wrapper .gwt-TabBarItem-selected .tabTopRight
{
    height: 5px;
    width: 5px;
    background-image: url('images/corner_dialog_topright_black.png');
}
.gwt-DecoratedTabBar-wrapper .gwt-TabBarItem-selected .tabMiddleCenter /* { the middle row } */
{
    background-image: url('images/corner_dialog_edge_black.png');
    background-repeat: repeat;
}
.gwt-DecoratedTabBar-wrapper .gwt-TabBarItem-selected .tabMiddleLeft /* { the middle left cell } */
{
    height: 100%;
    width: 5px;
    background-image: url('images/corner_dialog_edge_black.png');
    background-repeat: repeat-y;
}
.gwt-DecoratedTabBar-wrapper .gwt-TabBarItem-selected .tabMiddleRight /* { the middle right cell } */
{
    height: 100%;
    width: 50px;
    background-image: url('images/corner_dialog_edge_black.png');
    background-repeat: repeat-y;
    padding-left: 5px;
    padding-right: 5px;
}

.gwt-DecoratedTabBar-wrapper .gwt-TabBarItem-selected 
{
    color: white;
}
.gwt-DecoratedTabBar-wrapper 
{
    color: black;
}

/*
 * Decorated Titled Panels
 */

.gwt-DecoratorPanel .bluetop /* {  } */
{
}
.gwt-DecoratorPanel .bluetitleicon {
    background: url(images/blue_arrow.png) no-repeat;
    width: 12px;
    height: 12px;
    float: left;
}

.gwt-DecoratorPanel .bluetitle {
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-top: -3px;
    float: left;
}


.gwt-DecoratorPanel .bluetopLeft /* { the top left cell } */
{
    width: 6px;
    height: 5px;
    background-image: url('images/blue_arrow_top_left.png');
}
.gwt-DecoratorPanel .bluetopCenter /* /* { the top center cell } */
{
    height: 5px;
    background-image: url('images/blue_arrow_top_middle.png');
    background-repeat: repeat-x;
}
.gwt-DecoratorPanel .bluetopCenterInner 
{
}
.gwt-DecoratorPanel .bluetopRight /* { the top right cell } */
{
    width: 6px;
    height: 5px;
    background-image: url('images/blue_arrow_top_right.png');
}
.gwt-DecoratorPanel .bluetop2Left /* { the top left cell } */
{
}
.gwt-DecoratorPanel .bluetop2LeftInner /* { the inner element of the cell } */
{
    width: 6px;
    height: 17px;
    background-image: url('images/blue_arrow_top2_left.png');
    background-repeat: repeat-x;
}
.gwt-DecoratorPanel .bluetop2Center /* /* { the top center cell } */
{
    height: 17px;
    background-image: url('images/blue_arrow_top2_middle.png');
    background-repeat: repeat-x;
}
.gwt-DecoratorPanel .bluetop2CenterInner 
{
}
.gwt-DecoratorPanel .bluetop2Right /* { the top right cell } */
{
}
.gwt-DecoratorPanel .bluetop2RightInner /* { the inner element of the cell } */
{
    width: 6px;
    height: 17px;
    background-image: url('images/blue_arrow_top2_right.png');
    background-repeat: repeat-x;
}
.gwt-DecoratorPanel .bluemiddle /* { the middle row } */
{
}
.gwt-DecoratorPanel .bluemiddleLeft /* { the middle left cell } */
{
    width: 6px;
    background-image: url('images/panel_middle_left.png');
    background-repeat: repeat-y;
}
.gwt-DecoratorPanel .bluemiddleLeftInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .bluemiddleCenter /* { the middle center cell } */
{
    padding: 10px;
}
.gwt-DecoratorPanel .bluemiddleCenterInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .bluemiddleRight /* { the middle right cell } */
{
    width: 6px;
    background-image: url('images/panel_middle_right.png');
    background-repeat: repeat-y;
}
.gwt-DecoratorPanel .bluemiddleRightInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .bluebottom /* { the bottom row } */
{
}
.gwt-DecoratorPanel .bluebottomLeft /* { the bottom left cell } */
{
    height: 7px;
    width: 6px;
    background-image: url('images/panel_bottom_left.png');
}
.gwt-DecoratorPanel .bluebottomLeftInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .bluebottomCenter /* { the bottom center cell } */
{
    height: 7px;
    background-image: url('images/panel_bottom_middle.png');
    background-repeat: repeat-x;
}
.gwt-DecoratorPanel .bluebottomCenterInner /* { the inner element of the cell } */
{
}
.gwt-DecoratorPanel .bluebottomRight /* { the bottom right cell } */
{
    height: 7px;
    width: 6px;
    background-image: url('images/panel_bottom_right.png');
}
.gwt-DecoratorPanel .bluebottomRightInner /* { the inner element of the cell } */
{
}

