# $Revision: 1.2 $

# the database connection
[database]
user = 
password = 
host = 
port = 5432
database = 
#options = None
#tty = None

[export]
# base directory for export related data
basedir = /home/ncq/medituxarchiv/export
# read patient data from here
pat_file = patient.dat
pat_format = xdt
