# GNUmed user config file
# -------------------------------------------------------------
# this file should live in ~/.gnumed/gnumed.conf
#
# see also: http://wiki.gnumed.de/bin/view/Gnumed/ConfigFiles
#
# -------------------------------------------------------------
# $Source: /home/ncq/Projekte/cvs2git/vcs-mirror/gnumed/gnumed/client/doc/Attic/gnumed.conf.example,v $
# $Revision: 1.10 $



[backend]

# "any-doc" is the standard account installed with
# any stock installation, it should be disabled when
# going into production because the password is known
# to all (it is "any-doc" as well)
#
logins = $logins$
any-doc
$logins$


# If the system locale matches this value a mismatch
# with the database locale will be ignored.
# Remove this option if you want to stop ignoring mismatches.
#
#ignored mismatching system locale = de_DE@euro


# If GNUmed cannot detect the proper timezone from system
# information or you want to use a timezone different from
# the system GNUmed is running on you can explicitely set
# the time zone here.
# Note that the timezone must be a valid PostgreSQL timezone
# string. If in doubt consult the PostgreSQL docs.
# If you don't want to change the timezone GNUmed detects
# in the system you need to comment out this option.
#
#client timezone = CETDST



[workplace]

# Set the help desk contact information for your
# GNUmed installation here. If this includes a
# valid email address that address can be used
# to email error logs to on request.
help desk = GNUmed developers <gnumed-devel@gnu.org>


# here you can define profiles for XDT files
# provided by other applications such as
# German practice management software
#
XDT profiles = $XDT profiles$
generic XDT connector
$XDT profiles$


# default is gnumed-client if not set
#
#slave personality = slave-test


# default is 9999 if not set
#
#xml-rpc port = 7777



[XDT profile generic XDT connector]

# a short (!) description of the xDT source,
# this will be shown to the user when activating
# a patient from an xDT file
source = xDT allgemein

# this is the name of the file eventually containing
# the patient data in xDT format
filename = patient.xdt

DOB format =
encoding = 

# -------------------------------------------------------------
# $Log: gnumed.conf.example,v $
# Revision 1.10  2007-12-04 15:10:37  ncq
# - improved documentation
#
# Revision 1.9  2007/09/04 23:22:32  ncq
# - added slave options
#
# Revision 1.8  2007/07/02 16:05:31  ncq
# - better docs
#
# Revision 1.7  2007/04/19 13:11:39  ncq
# - remove workplace, default is now to use default from system-wide file
# - cleanup
#
# Revision 1.6  2007/04/02 14:28:59  ncq
# - switch to v6 database
#
# Revision 1.5  2007/03/08 11:32:39  ncq
# - encoding now per backend profile
#
# Revision 1.4  2007/01/24 11:38:07  ncq
# - improved docs
#
# Revision 1.3  2006/07/19 12:22:21  ncq
# - improved and consolidated documentation
#
# Revision 1.2  2003/06/14 23:02:48  ncq
# - added comment on deployment location
#
# Revision 1.1  2003/06/14 23:01:08  ncq
# - as per Debian's request
#
