#!/bin/sh
#------------------------------------------------------------
#
# this is a shell fragment used by gm-restore_from_backup.sh
#
# copy this file to /etc/gnumed/gnumed-restore.conf and
# configure appropriately
#
# if the PostgreSQL user $GM_DBO needs a password you will
# have to configure that using a .pgpass file (see the PG
# manual for how to do that)
#
# http://www.postgresql.org/docs/8.1/static/libpq-pgpass.html
#
#------------------------------------------------------------
# $Source: /home/ncq/Projekte/cvs2git/vcs-mirror/gnumed/gnumed/client/doc/Attic/gnumed-restore.conf.example,v $
# $Id: gnumed-restore.conf.example,v 1.1 2007-05-08 11:57:40 ncq Exp $

# if your PostgreSQL server is running on another port
GM_PORT="5432"

#============================================================
# $Log: gnumed-restore.conf.example,v $
# Revision 1.1  2007-05-08 11:57:40  ncq
# - new
#
#