# GnuMed database system bootstrapping config file
#-------------------------------------------------
# license: GPL
# author: Karsten Hilbert@gmx.net

#----------------------------------
[revision control]
file = $Source: /home/ncq/Projekte/cvs2git/vcs-mirror/gnumed/gnumed/server/utils/Attic/bootstrap-archive.conf.sample,v $
version = $Revision: 1.4 $

#----------------------------------
[installation]

interactive = yes

description = $description$
- suitable for GnuMed/Archive
- a monolithic setup on localhost
- no test data included
- german translations included
$description$

services = $services$
config
demographics
documents
$services$

language library dirs = $language library dirs$
/usr/lib/postgresql/lib/
/usr/lib/pgsql/
$language library dirs$

#----------------------------------
# these really shouldn't be changed
[GnuMed defaults]

database owner alias = GnuMed owner

groups = $groups$
gm-doctors
_gm-doctors
gm-staff_medical
_gm-staff_medical
gm-staff_office
_gm-staff_office
gm-trainees_medical
gm-trainees_office
gm-public
$groups$

procedural languages = $procedural languages$
pg/SQL
$procedural languages$

#----------------------------------
# services
#----------------------------------
[service config]
name = default
version = 0.1
database alias = gm-archive
postgres version = 7.1
registration database = gm-archive
schema = $schema$
sql/gmconfiguration.sql
sql/gmServices.sql
$schema$

# first one already imports gmServices, so ...
[service demographics]
name = personalia
version = 0.1
database alias = gm-archive
postgres version = 7.1
registration database = gm-archive
schema = $schema$
sql/gmidentity.sql
sql/gmgis.sql
$schema$

[service documents]
name = blobs
version = 0.1
database alias = gm-archive
postgres version = 7.1
registration database = gm-archive
schema = $schema$
sql/gmBlobs.sql
sql/country.specific/de/german-doc_types.sql
$schema$

#----------------------------------
# databases
#----------------------------------
[database gm-archive]
name = gm-archive-test
server alias = localhost

#----------------------------------
# servers
#----------------------------------
[server localhost]
name = localhost
port = 5432
template database = template1
super user alias = postgres
schema = $schema$
sql/gmTestAccounts.sql
$schema$

#----------------------------------
# users
#----------------------------------
[user GnuMed owner]
name = gm-dbowner
#password = 

[user postgres]
name = postgres
#password =

#----------------------------------
# languages
#----------------------------------
[pg/SQL]
library name = plpgsql.so

call handler = $call handler$
CREATE FUNCTION plpgsql_call_handler () RETURNS OPAQUE AS '%s' LANGUAGE 'C';
$call handler$

language activation = $language activation$
CREATE TRUSTED PROCEDURAL LANGUAGE 'plpgsql' HANDLER plpgsql_call_handler LANCOMPILER 'PL/pgSQL';
$language activation$

#----------------------------------
# $Log: bootstrap-archive.conf.sample,v $
# Revision 1.4  2003-02-09 11:46:11  ncq
# - added core database option for registering services
# - convenience function _run_query()
#
# Revision 1.3  2003/02/02 14:12:30  ncq
# - add schema to server defs
#
# Revision 1.2  2003/01/26 13:14:36  ncq
# - show a description before installing
# - ask user for confirmation if interactive
#
# Revision 1.1  2003/01/26 12:47:17  ncq
# - next generation from test-area/
#
# Revision 1.1  2003/01/24 13:40:02  ncq
# - renamed bootstrap-archive.conf to bootstrap-archive.conf.sample
#
# Revision 1.1  2003/01/22 23:17:45  ncq
# - example for setting up a GnuMed/Archive database
#
