# site specific GnuMed user/group sample setup file
#--------------------------------------------------
# license: GPL
# author: Karsten Hilbert@gmx.net
#
# you should rename this file and use it to define site-specific groups/users

#----------------------------------
# this works exactly the same as in setup-users.conf
[site specific]

# - you can define your own groups here to have more
#   finely grained control over access rights
groups = $groups$
$groups$

# - define your site specific local users here
# - remember to define groups for the individual users
users = $users$
$users$

#----------------------------------
# $Log: setup-local_users.conf.sample,v $
# Revision 1.1  2002-10-20 16:07:37  ncq
# - sample config file for site specific users and groups
#
