/* 
    Document   : style
    Created on : June 16, 2004, 11:44 AM
    Author     : sjtan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
h1,h2,h3 { background-color:#A47 }
        b   { color : #555}
      

body {
	font-family: Arial, Helvetica, sans-serif;
        background-color : rgb(100,100 , 5);
        background-color: #AAA ;
}

div.pastNotesNarrative0 {
    background-color : #9A7;
}

div.pastNotesNarrative1 {
    background-color: #9BA;
}

div.errors   {    color : rgb(255,255,0) ; background-color :rgb( 0, 75, 250)  }

